/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.09.2019, 14:49:49
    Author     : Your Name <your.name at your.org>
*/
* {
    box-sizing: border-box;
}

.search-results {
	width: 80vw;
	margin: 50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.search-result {
	flex: 1;
	width: 205px;
	height: 300px;
	margin: 30px;
	position: relative;
	transition: all .3s;
}

.search-result:hover {
	transform: scale(1.2);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.search-result img {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 3px;
}

.search-result button {
	padding: 0;
	background: none;
	border: none;
	outline: none;
}

.search-result > button > div {
	opacity: 0;
	position: absolute;
	bottom: -1px;
	padding: 0 10px 10px 10px;
	transition: all .3s;
	width: 100%;
	min-height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: linear-gradient(to top, #000, #000A, transparent);
}

.search-result > button > div > div {
	line-height: 30px;
}

.search-result img:hover + div, .search-result > button > div:hover {
	opacity: 1;
}

.media-info__banner {
	width: 70vw;
	margin: 100px auto 30px auto;
	display: block;
	border-radius: 5px;
	opacity: 0.9;
}

.media-info__wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 70vw;
	margin: 30px auto 100px auto;
}

.media-info__wrapper > div {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.media-info__wrapper > div > label {
 	text-align: center;
 	height: 20px;
}

.media-info__wrapper > div > hr {
 	width: 80%;
 	color: white;
}

.media-info__wrapper > div > div {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.media-info__wrapper > div > div > div {
	min-width: 150px;
	min-height: 150px;
	border-radius: 5px;
	box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 1);
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	transition: all .2s;
}

.media-info__wrapper > div > div > div:hover {
	box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 1);
	background-color: #3c3c3c;
}

.media-info__wrapper > div > div > div > div {
	transform: translateY(-5px);
	padding: 20px;
}

.media-info__wrapper > div:nth-child(4) > div > div > div::after {
	content: " min / episode";
}

.media-info__wrapper > div:nth-child(5) > div > div > div::after {
	content: " / 10";
}

.media-info__wrapper > div:last-of-type > div > div {
	min-width: 70vw;
	min-height: 150px;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.navbar {
    border: none;
    border-radius: 0;
    font-size: 24px;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 1);
    transition: all .2s;
}

.navbar-header {
    font-size: 30px;
    font-weight: bold;
    padding-right: 30px;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-item a {
	color: white;
	padding-top: 17px !important;
	transition: all .1s;
}

.nav-item a:hover {
    color: #1abc9c !important;
}

.nav-item.active {
	background-color: #222 !important;
	border-bottom: 2px solid #1abc9c !important;
}