<!DOCTYPE html>
<html>
    <head>
        <title>Dionysus</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>   
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body class="bg-4">
 <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-inverse">
		<div class="navbar-header">Dionysus</div>
		<div>
			<ul class="nav navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/searchMedia">Search Series or Movie</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="/dataTransfer">Export or Import XML</a></li>
			</ul>
		</div>
	</nav>
        <!--/.Navbar-->
        <div class="container-fluid  bg-4 text-center">
			<form th:object="${xmlContent}" method="POST" action="#" th:action="@{/xmlUpload}">
                <textarea th:field="*{xml}"></textarea><input type="submit" />
            </form>
            <form method="POST" action="#" th:action="@{/xmlExport}">
                <input type="submit" />
            </form>

        </div>
        <footer class="container-fluid bg-4 text-center">
            <p>&copy; Duarte Mendes</p>
        </footer>
    </body>
</html>
