<!DOCTYPE html>
<html>
<head>
<title>Dionysus</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body class="bg-4">
	<!--Navbar-->
	<nav class="navbar navbar-expand-lg navbar-inverse">
		<div class="navbar-header">Dionysus</div>
		<div>
			<ul class="nav navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					href="/searchMedia">Search Series or Movie</a></li>
				<li class="nav-item "><a class="nav-link" href="/dataTransfer">Export
						or Import XML</a></li>
			</ul>
		</div>
	</nav>
	<!--/.Navbar-->
	<div class="container-fluid  bg-4 text-center">
		<form class="form-horizontal" action="#" th:action="@{/searchMedia}"
			th:object="${searchContext}" method="post">
			<h2>Search for a Movie or Media</h2>
			<div>
				<p>Quick Search from DB</p>
				<div class="form-group">
					<label class="control-label col-sm-4" for="media">Media:</label>
					<div class="col-sm-4">
						<select class="form-control" th:field="*{selectedMedia}"
							id="media">
							<option th:value=0>Select a Media</option>
							<option th:each="media : *{storedMedia}" th:value="${media.idDb}"
								th:text="${media.title}"></option>
						</select>
					</div>
				</div>
			</div>

			<div>
				<p>Full Search</p>
				<div class="form-group">
					<label class="control-label col-sm-4" for="mediaType">Mediatyp:</label>
					<div class="col-sm-4">
						<select class="form-control" th:field="*{searchType}"
							id="mediaType">
							<option value="null">Select a MediaType</option>
							<option th:each="type : *{mediaTypes}" th:value="${type}"
								th:text="${type}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="title">Titel:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="title"
							th:field="*{searchTitle}" />
					</div>
				</div>
			</div>

			<button type="submit" class="btn btn-info">Search</button>
		</form>
		<div class="search-results">
			<th:block th:each="media : ${foundResults}">
				<form class="form-horizontal" action="#" th:action="@{/openMedia}" th:object="${media}" method="get">
					<div th:if="${media instanceof T(ch.duartemendes.dionysus.model.Serie)}" class="search-result">
						<button type="submit">
							<img th:src="${media.image}"/>
							<div>
								<div th:text="${media.seriesName}"/>
							</div>
							<input type="hidden" name="id" th:value="${media.id}" />
						</button>
					</div>
					<div th:if="${media instanceof T(ch.duartemendes.dionysus.model.Movie)}" class="search-result">
						<button type="submit">
							<img th:src="${media.image}"/>
							<div>
								<div th:text="${media.title}"/>
							</div>
							<input type="hidden" name="id" th:value="${media.id}" />
						</button>
					</div>
				</form>
			</th:block>
		</div>
	</div>
	<footer class="container-fluid bg-4 text-center">
		<p>&copy; Duarte Mendes</p>
	</footer>
</body>
</html>
